body {
  background-color: #00b3e6; /* set the background color to light blue */
}
div {
  width: 700px; /* set the width to 700px */
  margin: auto; /* center the div element */
  font-family: "Helvetica Neue"; /* set the font family to Helvetica Neue */
  background-color: white; /* set the background color to white */
  padding: 30px; /* add 30px padding around the element */
}
#main-header {
  font-size: 22px; /* set the font size of the element with id 'main-header' to 22px */
}
.perspective-questions {
  font-style: italic; /* set the font style of all elements with class 'perspective-questions' to italic */
}